.newsletter {
    background:rgb(230 239 172);
    padding: 0;
    margin-top: 3rem;
}
.newsletter__img video{
    width: 110%;
    height: 24rem;
    border-radius: 1rem;
    
}

.newsletter__img img {
    width: 100%;
}

.newsletter__content {
    padding: 50px 0;
}

.newsletter__content h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.newsletter__input input {
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.newsletter__input input:focus {
    outline: none;
}

.newsletter__button {
    padding: 0.5rem 1.5rem !important;
    color: white !important;
    background: var(--secondary-color) !important;
    font-size: 1.1rem !important;
}

.newsletter__content p {
  
        color: var(--heading-color);
        font-size: 1rem;
        font: initial;
}

.btn_newsletter {
    background: var(--secondary-color);
    color: aliceblue;
    border-radius: 20px 4px 16px 4px;
    border: none;
    padding: 5px;
}

@media only screen and (max-width:992px) {
    .newsletter__content h2 {
        font-size: 2rem;
    }

    .newsletter__img {
        display: none;
        
    }
}

@media only screen and (max-width:992px) {
    .newsletter__content h2 {
        font-size: 1.5rem;
    }

    .newsletter__content p {
        display: none;
    }
}